*.py[cod]

# C extensions
*.so

# Installer logs
pip-log.txt

# Python related files.
*.py[cod]
Gemfile.lock

# Ignore the package files.
core/site-packages/pre_build
core/site-packages/pre_install
core/vendor/build/*

!.gitkeep

*.log
tmp/*
opinion-detector-models/*
